body {
  margin: 0;
  padding: 0;
  min-height: 1350px;
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifse;
}
section {
  position: relative;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  position: fixed;
  background-image:url(photo\ qoran\ karim.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 0px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
div button {
  width: 140px;
  padding: 3px;
  padding-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  background-color: white;
  font-size: 22px;
  color: black;
  border: 2px solid white;
  margin-top: 10px;
  font-style: bold;
  border-radius: 20px 0px 20px 0px;
  cursor: pointer;
  transition: 1s;
}
div button:hover {
  color: white;
  background: hsl(29, 93%, 48%);
  border: 2px solid hsl(29, 93%, 48%);
}
#d1,
#d2,
#d3,
#d4 {
  width: 400px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  color: orange;
  text-shadow: 1px 1px black;
  margin-top: 30px;
  display: none;
}
audio {
  display: block;
  transition: 1s;
  border: 2px solid hsl(29, 93%, 48%);
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(210, 117, 11, 0.906);
}
audio:hover {
  transform: scale(1.03);
}
#rob {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
#heart {
  color: red;
}
#sor {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 80px;
  left: 370px;
  border-radius: 45px;
  box-shadow: 3px 3px 15px orange;
}

